<template>
<div class="col-md-12">
  <b-card>
    <div slot="header">
      <strong>Create New Team</strong>
    </div>
    <div class="solution-area">
      <b-form-fieldset
        label="Name"
        :label-cols="3"
        :horizontal="true">
        <b-form-input type="text" v-model="team.name" placeholder="Name"></b-form-input>
      </b-form-fieldset>
    </div>
    <hr/>
    <div class="team-area">
      <div class="row">
        <div class="col-md-6">
          <strong class="fa-pull-left">Team Playrers</strong>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success fa-pull-right" @click="showCreateMemberModal()">
            Add new
          </button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="member in members">
                <td>{{member.first_name}}</td>
                <td>{{member.last_name}}</td>
              </tr>
            </tbody>
          </table>
        </div><!--/.col-->
      </div><!--/.row-->
      <b-modal title="Create New Team Member" size="lg" v-model="createMemberModal">
        <b-form-fieldset
          label="First Name"
          :label-cols="3"
          :horizontal="true">
          <b-form-input type="text" v-model="member['first_name']"></b-form-input>
        </b-form-fieldset>
        <b-form-fieldset
          label="Last Name"
          :label-cols="3"
          :horizontal="true">
          <b-form-input type="email" v-model="member['last_name']"></b-form-input>
        </b-form-fieldset>

        <div> <!--  slot="footer" -->
          <b-button type="submit" @click="createMember()" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
          <b-button type="reset" @click="reset()" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
        </div>
      <!-- </b-card> -->
        <div slot="modal-footer" class="w-100"></div>
      </b-modal>
    </div>
    <div slot="footer">
      <b-button type="submit" @click="newTeam()" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
      <b-button type="reset" @click="reset()" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
    </div>
  </b-card>

  </div>
</template>

<script>
import axios from 'axios';
import 'bootstrap/dist/css/bootstrap.css';

export default {
  name: 'TeamForm',
  data: () => {
    return {
      team : {},
      members: [],
      member: [],
      success : false,
      createMemberModal: false
    }
  },
  methods: {
    showCreateMemberModal(){
      this.createMemberModal = true;
    },
    newTeam() {
      axios.post(`/api/teams`, {name: this.team.name, members: Object.assign({}, this.members)})
      .then(response => {
        this.team = {};
        this.members = [];
        this.$router.push('/teams');
      })
      .catch(e => {});
    },
    reset(){
      this.team = {};
    },
    createMember(){
      this.members.push(Object.assign({}, this.member));
      this.member = [];
      this.createMemberModal = false;
    }
  }
}
</script>
