<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
      <b-card header="<i class='fa fa-align-justify'></i> Teams">

      <div>
        <router-link class="btn btn-success fa-pull-right"  router-link :to="'/teams/create'">
          Add new
        </router-link>
      </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Players</th>

            </tr>
          </thead>
          <tbody>
            <tr v-for="team in teams.data">
              <td>{{team.name}}</td>
              <td>
                <router-link router-link :to="'/teams/'+team.id+'/players'">
                  <span class="fa fa-users pointer"></span>
                </router-link>
              </td>
            </tr>

          </tbody>
        </table>
        <pagination :limit="5" :data="teams" v-on:pagination-change-page="fetchTeams"></pagination>
      </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <b-modal title="Team Players" size="lg" v-model="teamModal" @ok="teamModal = false">
      <TeamPlayers :members="members" :team="team" v-bind="{hideTeamModal}"/>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import TeamPlayers from '../team_players';
export default {
  name: 'teams',
  components:{
    TeamPlayers
  },
  data: () => {
    return {
      teams : [],
      selected : [],
      players: [],
      teamModal : false
    }
  },
  created() {
    this.fetchTeams();
  },
  methods: {
    fetchTeams (page) {
      if (typeof page === 'undefined') {
        page = 1;
      }
      axios.get(`/api/teams?page=` + page)
      .then(response => {
        this.teams = response.data.data.teams
      })
      .catch(e => {
      });
    },
    showTeamModal(team_id){
      if(this.teams && this.teams.data && this.teams.data[team_id]){
        this.team = this.teams.data[team_id];
        this.players = this.teams.data[team_id].players;
        this.teamModal = true;
        return false;
      }
    },
    hideTeamModal(){
      this.teamModal = false;
    }
  },
  computed: {

  }
}
</script>
