<template>
<div class="col-md-12">
  <!-- <b-card> -->
    <!-- <div slot="header">
      <strong>Player</strong>
    </div> -->
    <b-form-fieldset
      label="First Name"
      :label-cols="3"
      :horizontal="true">
      <b-form-input type="text" v-model="user.first_name"></b-form-input>
    </b-form-fieldset>
    <b-form-fieldset
      label="last_name"
      :label-cols="3"
      :horizontal="true">
      <b-form-input type="email" v-model="user.last_name"></b-form-input>
    </b-form-fieldset>
    <div slot="footer">
      <b-button type="submit" @click="submitUser()" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
      <b-button type="reset" @click="reset()" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
    </div>
  <!-- </b-card> -->
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'TeamPlayersForm',
  data: () => {
    return {
      user : {},
      success : false
    }
  },
  props:{
    team: null,
    refreshTeamList: "",
  },
  created() {
  },
  methods: {
    submitUser() {
      axios.post(`/api/teams/`+this.team+`/players`,this.user)
      .then(response => {
        this.user = {};
        this.success = true;
        this.refreshTeamList();
      }).catch(err => {
        console.log('err', err);
        // if(err.response.status == 422){
        //   this.errors = err.response.data.errors;
        // }
      });
    }
  }
}
</script>
