<template>
  <div class="animated fadeIn">
    <b-card header="<i class='fa fa-align-justify'></i> Team Players">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success fa-pull-right" @click="showCreateMemberModal()">
          Add new
        </button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="member in members.data">
              <td>{{member.first_name}}</td>
              <td>{{member.last_name}}</td>
            </tr>
          </tbody>
        </table>
        <pagination :limit="5" :data="members" v-on:pagination-change-page="getTeamMembers"></pagination>
      </div><!--/.col-->
    </div><!--/.row-->
    <b-modal title="Player Info" size="lg" v-model="createMemberModal">
      <TeamPlayersForm :team="team" :refreshTeamList="getTeamMembers.bind(this)"/>
      <div slot="modal-footer" class="w-100"></div>
    </b-modal>
  </b-card>
  </div>
</template>

<script>
import axios from 'axios';
import TeamPlayersForm from './form';

export default {
  name: 'TeamPlayers',
  data: () => {
    return {
      createMemberModal: false,
      members: {},
      team: null
    }
  },
  created() {
    this.getTeamMembers();
  },
  components: {
    TeamPlayersForm
  },
  methods: {
    showCreateMemberModal(){
      this.createMemberModal = true;
    },
    getTeamMembers(page){
      if (typeof page === 'undefined') {
        page = 1;
      }
      this.team = this.$route.params.team_id;
      axios.get(`/api/teams/`+this.team+`/players?page=`+ page)
      .then(response => {
        this.members = response.data.data.players;
        this.createMemberModal = false;
      });
    }
  }
}
</script>
