/*!
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.4
 * @link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license MIT
 */

// Override Boostrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "node_modules/bootstrap/scss/bootstrap";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Custom styles
@import "custom";

.pointer{
  cursor: pointer;
}
.search-cohort{
  padding : 0px !important;
}
.cohort-title{
  padding : 12px !important;
  cursor: pointer;
}
.cohort-component{
  :hover{
    background-color: #ccc;
  }
}
