

<template>

<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>Register</h1>
                        <div class="alert alert-success" v-if="success">
                          Activation link has been sent to your email, please activate your account
                        </div>
                        <p class="text-muted">Create your account</p>
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="form-control" v-model="user.name" placeholder="Full name">
                            <span class="help-block" v-if="errors.name" :errors="errors">
                              {{ errors.name[0] }}
                            </span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-addon">@</span>
                            <input type="text" v-model="user.email" class="form-control" placeholder="Email">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" v-model="user.password" class="form-control" placeholder="Password">
                        </div>

                        <div class="input-group mb-4">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" v-model="user.password_confirmation" class="form-control" placeholder="Repeat password">
                        </div>

                        <button type="button" @click="registerUser()" class="btn btn-block btn-success">Create Account</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
import axios from 'axios';
import 'bootstrap/dist/css/bootstrap.css';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';

export default {
    name: 'Register',
    data () {
      return {
        user: {
        },
        errors : [],
        success : false,
        config: {
          format: 'YYYY-MM-DD',
          useCurrent: false,
        }
      }
    },components: {
      datePicker
    },
    methods:{
      registerUser() {
        axios.post(`/api/regular_users`,this.user)
        .then(response => {
          console.log("response response", response);
          this.user = {};
          this.success = true;
          this.user = {};
          this.success = true;
          localStorage.setItem('access_token', response.data.data.token);
          this.$router.push('/');
        })
        .catch(err => {
          if(err.response.status == 422){
            this.errors = err.response.data.errors;
          }
        });
      }
    }
}

</script>
