<template>
<div class="col-md-12">
  <b-card>
    <div slot="header">
      <strong>Submmit User</strong>
    </div>
    <b-form-fieldset
      label="Full Name"
      :label-cols="3"
      :horizontal="true">
      <b-form-input type="text" v-model="user.name"></b-form-input>
    </b-form-fieldset>
    <b-form-fieldset
      label="Email"
      :label-cols="3"
      :horizontal="true">
      <b-form-input type="email" v-model="user.email"></b-form-input>
    </b-form-fieldset>
    <b-form-fieldset
      label="Password"
      :label-cols="3"
      :horizontal="true">
      <b-form-input type="password" v-model="user.password"></b-form-input>
    </b-form-fieldset>
    <b-form-fieldset
      label="Repeat Password"
      :label-cols="3"
      :horizontal="true">
      <b-form-input type="password" v-model="user.password_confirmation"></b-form-input>
    </b-form-fieldset>
    <div slot="footer">
      <b-button type="submit" @click="submitUser()" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
      <b-button type="reset" @click="reset()" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
    </div>
  </b-card>

  </div>
</template>

<script>
import axios from 'axios';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';

export default {
  name: 'UserForm',
  data: () => {
    return {
      user : {},
      success : false
    }
  },
  methods: {
    submitUser() {
      axios.post(`/api/admin/users`,this.user)
      .then(response => {
        this.user = {};
        this.success = true;
        this.$router.push('/users');
      }).catch(err => {
        if(err.response.status == 422){
          this.errors = err.response.data.errors;
        }
      });
    }
  }
}
</script>
