<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
      <b-card header="<i class='fa fa-align-justify'></i> Users">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
            </tr>

          </tbody>
        </table>
      </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'cohorts',
  data: () => {
    return {
      users : []
    }
  },
  created() {
    this.fetchUsers()
  },
  methods: {
    fetchUsers () {
      axios.get(`/api/regular_users`)
      .then(response => {
        this.users = response.data.data
      })
      .catch(e => {

      });
    }
  }
}
</script>
