<template>
    <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
                                <div class="input-group mb-3">
                                    <span class="input-group-addon">@</span>
                                    <input v-model="user.email" type="text" class="form-control" placeholder="Email">
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input v-model="user.password" type="password" class="form-control"
                                           placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button @click="authenticate()" type="button" class="btn btn-primary px-4">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <button type="button" @click="register()" class="btn btn-primary active mt-3">
                                        Register Now!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Login',
        data() {
            return {
                user: {},
                success: false
            }
        },
        methods: {
            authenticate() {
                axios.post(`/api/authenticate`, this.user)
                    .then(response => {
                        console.log("response response", response);
                        this.user = {};
                        this.success = true;
                        localStorage.setItem('access_token', response.data.data.token);
                        this.$router.push('/');
                    })
                    .catch(e => {
                    });
            },
            register() {
                this.$router.push('/register');
            }
        }
    }
</script>
