<template id="modal-component">
  <div class="modal-body" @keyup.esc="close"  @keyup.esc="close" v-bind:class="{'active-in-component': activeInComponent }">
    <div class="modal-content" v-html="message"></div>
         <div class="modal-close" @click="close"><i class="zmdi zmdi-close"></i></div>
  </div>
</template>
<script>
export default {
  name: 'modal'
}
</script>
