<template id="modal-component">
  <div class="modal-body" @keyup.esc="close"  @keyup.esc="close" v-bind:class="{'active-in-component': activeInComponent }">
    <div class="modal-content" v-html="message"></div>
         <div class="modal-close" @click="close"><i class="zmdi zmdi-close"></i></div>
  </div>
</template>
<script>
export default {
  name: 'modalComponent,
  'template: '#modal-component',
  data() {
    return {
      activeInComponent: false,
      message: '<i>Modal Content!</i>',
    };
  },
  props: ['acivated'],
  methods: {
    close() {
      this.activeInComponent = !this.activeInComponent;
      this.$el.blur();
    },
  },
  watch: {
    acivated(oldVal, newVal) {
      if (oldVal !== newVal) {
        this.activeInComponent = !this.activeInComponent;
        this.$el.tabIndex = 1;
        this.$nextTick(function() {
          this.$el.focus();
        });
      }
    },
  },
}
</script>
